<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node name="goal_parser" pkg="robotour" type="goal_parser"
          respawn="true" respawn_delay="1.0" output="screen">

        <rosparam>
            utm_frame: utm
            altitude: 0.0
            target_frame: local_utm
            target_altitude: 0.0
            tf_timeout: 1.0
            tolerance: 5.0
        </rosparam>

        <!-- Inputs -->
        <remap from="geocode" to="geocode"/>
        <remap from="get_plan" to="get_plan"/>
    </node>
</launch>
