<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="spot-3"/><group if="$(eval {'ctu-robot': 0, 'flip': 0, 'marv-robot': 0, 'spot-3': 0}[robot])"/>
    <!-- ctu-robot -->
    <arg name="in_cmd_vel" value="cmd_vel" if="$(eval robot == 'ctu-robot')"/>
    <arg name="clouds_filtered" value="points_filtered" if="$(eval robot == 'ctu-robot')"/>
    <arg name="out_cmd_vel" value="cmd_vel_bumper" if="$(eval robot == 'ctu-robot')"/>
    <arg name="obstacle_cloud" value="obstacle_cloud" if="$(eval robot == 'ctu-robot')"/>
    <arg name="markers" value="markers" if="$(eval robot == 'ctu-robot')"/>
    <!-- flip -->
    <arg name="in_cmd_vel" value="TODO" if="$(eval robot == 'flip')"/>
    <arg name="clouds_filtered" value="TODO" if="$(eval robot == 'flip')"/>
    <arg name="out_cmd_vel" value="TODO" if="$(eval robot == 'flip')"/>
    <arg name="obstacle_cloud" value="TODO" if="$(eval robot == 'flip')"/>
    <arg name="markers" value="markers" if="$(eval robot == 'flip')"/>
    <!-- marv-robot -->
    <arg name="in_cmd_vel" value="cmd_vel" if="$(eval robot == 'marv-robot')"/>
    <arg name="clouds_filtered" value="points_filtered" if="$(eval robot == 'marv-robot')"/>
    <arg name="out_cmd_vel" value="cmd_vel_bumper" if="$(eval robot == 'marv-robot')"/>
    <arg name="obstacle_cloud" value="obstacle_cloud" if="$(eval robot == 'marv-robot')"/>
    <arg name="markers" value="markers" if="$(eval robot == 'marv-robot')"/>
    <!-- spot-3 -->
    <arg name="in_cmd_vel" value="spot/cmd_vel" if="$(eval robot == 'spot-3')"/>
    <arg name="clouds_filtered" value="points_filtered" if="$(eval robot == 'spot-3')"/>
    <arg name="out_cmd_vel" value="cmd_vel_bumper" if="$(eval robot == 'spot-3')"/>
    <arg name="obstacle_cloud" value="obstacle_cloud" if="$(eval robot == 'spot-3')"/>
    <arg name="markers" value="markers" if="$(eval robot == 'spot-3')"/>

    <node name="virtual_bumper" pkg="virtual_bumper" type="virtual_bumper" 
          respawn="true" respawn_delay="1.0" output="screen">

        <rosparam subst_value="true">
            robot_frame: base_link
            max_age: 1.0
            clearance_box: [[-0.7, 0.7], [-0.45, 0.45], [0.2, 0.5]]
            # clearance_box: [[-1.5, 1.5], [-0.5, 0.5], [-0.5, 0.5]]
            keep_clouds: 4
        </rosparam>

        <!-- Parameters -->
        <!-- ctu-robot -->
        <param name="robot_length" type="double" value="0.8" if="$(eval robot == 'ctu-robot')"/>
        <param name="robot_width"  type="double" value="0.7" if="$(eval robot == 'ctu-robot')"/>
        <!-- flip -->
        <param name="robot_length" type="double" value="0.0" if="$(eval robot == 'flip')"/>
        <param name="robot_width"  type="double" value="0.0" if="$(eval robot == 'flip')"/>
        <!-- marv-robot -->
        <param name="robot_length" type="double" value="0.8" if="$(eval robot == 'marv-robot')"/>
        <param name="robot_width"  type="double" value="0.6" if="$(eval robot == 'marv-robot')"/>
        <!-- spot-3 -->
        <param name="robot_length" type="double" value="0.9" if="$(eval robot == 'spot-3')"/>
        <param name="robot_width"  type="double" value="0.5" if="$(eval robot == 'spot-3')"/>

        <!-- Inputs -->
        <remap from="input_cmd_vel" to="$(arg in_cmd_vel)"/>
        <remap from="input_cloud" to="$(arg clouds_filtered)"/>

        <!-- Outputs -->
        <remap from="output_cmd_vel" to="$(arg out_cmd_vel)"/>
        <remap from="obstacle_cloud" to="$(arg obstacle_cloud)"/>
	<remap from="~markers" to="~/$(arg markers)"/>
    </node>
</launch>
